{% extends 'base.html' %}

{% block content %}
    <h1> Transfer Money</h1>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="sender">Sender:</label>
        <select name="sender" id="sender">
            {% for customer in customers %}
                <option value="{{ customer.pk }}" {% if customer.pk == sender %}selected{% endif %}>{{ customer.name }}</option>
            {% endfor %}
        </select>
        <br>

        <br>
        <label for="receiver">Receiver:</label>
        <select name="receiver" id="receiver">
            {% for customer in customers %}
                <option value="{{ customer.pk }}">{{ customer.name }}</option>
            {% endfor %}
        </select>
{% endblock %}
