{% extends 'base.html' %}

{% block content %}

<h2>All Customers</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Current Balance</th>
                <th>View Details</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.current_balance }}</td>
                    <td><a href="{% url 'view_customer' pk=customer.pk %}" >View Details</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
